.home {
    padding-top: 10px;
}

.titulo-index {
    padding-bottom: 10px;
}

.header {
    margin-bottom: 10px;
}

.botonesAdmin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
